## monimelt .gitmodules file

[submodule "jason"]
  path = vendor/src/github.com/antonholmquist/jason/
  url = https://github.com/antonholmquist/jason/

[submodule "go-sqlite3"]
  path = vendor/src/github.com/mattn/go-sqlite3/
  url = https://github.com/mattn/go-sqlite3/

[submodule "rbt"]
  path = vendor/src/github.com/ocdogan/rbt/
  url = https://github.com/ocdogan/rbt/

## eof .gitmodules in monimelt
