[submodule "vendor/src/jason"]
	path = vendor/src/jason
	url = https://github.com/antonholmquist/jason
[submodule "vendor/src/gosqlite"]
	path = vendor/src/gosqlite
	url = https://github.com/gwenn/gosqlite
[submodule "vendor/src/yacr"]
	path = vendor/src/yacr
	url = https://github.com/gwenn/yacr
