[submodule "vendor/src/jason"]
	path = vendor/src/jason
	url = https://github.com/antonholmquist/jason
[submodule "vendor/src/gosqlite"]
	path = vendor/src/gosqlite
	url = https://github.com/gwenn/gosqlite
[submodule "vendor/src/yacr"]
	path = vendor/src/yacr
	url = https://github.com/gwenn/yacr
[submodule "vendor/src/github.com/gwenn/gosqlite"]
	path = vendor/src/github.com/gwenn/gosqlite
	url = git@github.com:gwenn/gosqlite.git
[submodule "vendor/src/github.com/gwenn/yacr"]
	path = vendor/src/github.com/gwenn/yacr
	url = git@github.com:gwenn/yacr.git
[submodule "vendor/src/github.com/antonholmquist/jason"]
	path = vendor/src/github.com/antonholmquist/jason
	url = git@github.com:antonholmquist/jason.git
